
*{
    box-sizing: border-box;
    font-size: confortaa;
}
/* body-style*/
body{
    height: 100vh;
    background-image: url("body.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

#sidebar{
    height: 599px;

}
li a:hover{
    background-color: rgb(0, 136, 255);
}
#element_form{
    justify-items: center;
    
}
.card .form-control{
    box-shadow: 0px 3px 6px ;
    
 }
 #element_form{
    margin-left: 250px;
    margin-top: 50px; 
 }
 .Client-form-card{
    display: none;
 }
 #form_deposer{
    display: none;
 }
 #container1{
    display: none;
 }
 #container2{
    display: none;
 }
 /* table client */
 .Btn_add {
    width: fit-content;
    margin-bottom:20px;
    background-color: #2badc4;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
    text-decoration: 0;
}
.Btn_add img {
    margin-right: 5px;
    height: 20px;
}
/*tableau*/
table {
    border-collapse:collapse;
    color: #404040;
}
th {
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500;
}
td {
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;

}
img {
    height: 25px;
   
}
tr:nth-child(2n){
    background-color: #f6f8f8;
}
tr:nth-child(2n) td {
    border-bottom: 1px solid #e0e0e0;
    border-top:  1px solid #e0e0e0;
}
/*Form CSS*/
.form {
    background-color: #f6f8f8;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.form form {
    display: flex;
    width: 350px;
    flex-direction: column;
}
.back_btn {
    color: #2badc4;
    text-decoration: 0;
    display: flex;
    align-items: center;
}
.back_btn img {
    height: 16px;
    margin-right:5px ;
}
h2 {
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.erreur_message {
    color: red;
    font-size: 12px;
}
label {
    margin-top: 5px;
    text-transform: uppercase;
}
input{
    padding: 5px;
    border: 1px solid #999;
    outline: 0;
    margin-top: 2px;
}
input:focus{
    border: 1px solid #ffcb61;
}
input[type="submit"]{
    margin-top: 25px;
    background-color: #2badc4;
    border: 1px solid #2badc4;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}


.table2{
    width: 100%;
    text-align: center;
    border: solid #ffcb61 3px;
   
}
.cc{
    border: solid #ffcb61 3px;
}
#items{
    border: solid #ffcb61 2px;
   
}
div #bt{
  display: flex;
  
}
.container{
    margin-top: 50px;
}

